





<div class="container mx-auto">


	<h2 class="py-5">What do you want to accomplish in 2019?</h2>
	
	<div class="py-5">
		<input class="bg-grey-lighter focus:bg-white border-transparent focus:border-blue-light text-xl" placeholder="Focus me">
	</div>
<div class="flex flex-row flex-wrap">

<div class="w-64 rounded-lg overflow-hidden shadow-md relative m-4">
	<img class="block" src="https://source.unsplash.com/1400x1000/?japan" alt="">
	<div class="absolute bg-white opacity-50 pin flex items-center justify-center">
		<p class="text-center text-xl ">Learn Japanese</p>
	</div>
</div>

<%= react_component("List", {resolutions: [] }) %>

<div class="w-64 rounded-lg overflow-hidden shadow-md  m-4">
	<img class="block" src="https://source.unsplash.com/1400x1000/?marathon" alt="">
</div>


<div class="w-64 rounded-lg overflow-hidden shadow-md  m-4">
	<img class="block" src="https://source.unsplash.com/1400x1000/?bali" alt="">
</div>

<div class="w-64 rounded-lg overflow-hidden shadow-md  m-4">
	<img class="block" src="https://source.unsplash.com/1400x1000/?friends" alt="">
</div>

</div>



</div>
